<!-- <a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><span class="header-link">Archive</span></a> -->
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><span class="header-link">About</span></a>
<a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}"><span class="header-link">Posts</span></a>
<a href="{{ "/cv" | prepend: site.baseurl | replace: '//', '/' }}"><span class="header-link">CV</span></a>
<!-- <a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><span class="header-link">RSS</span></a> -->