<div class="col-md-4 col-sm-12">
  <div class="col-md-12 photo-name">
    <img src="{{ site.github.profile_pic }}" class="profile-photo">
    <br />
    <br>
    <h1><a href="{{ "/" | absolute_url }}">{{ site.owner_name }}</a></h1>
    <br>
    <div class="short-resume">
      <p>{{ site.about_me.short_resume }}</p>
    </div>
  </div>
</div>
<div class="col-md-8 col-sm-12">
  <div class="col-md-2 bg-primary" style="height: 400px;">
  </div>
  <div class="col-md-6 bg-dark" style="height: 400px;">
  </div>
</div>