<div class="col-md-4 col-sm-12">
  <div class="col-md-12 photo-name">
    <img src="{{ site.github.profile_pic }}" class="profile-photo">
    <br />
    <br>
    <h1><a href="{{ "/" | absolute_url }}">{{ site.owner_name }}</a></h1>
    <br>
    <div class="short-resume">
      <p>{{ site.about_me.short_resume }}</p>
    </div>
  </div>
</div>
<div class="col-md-8 col-sm-12 timeline">
  {% for item in site.data.experiences %}
  <div class="entry">
    <div class="title">
      <h3>{{item.since}} - {{item.until}}</h3>
      <p>{{item.company_name}}</p>
    </div>
    <div class="body">
      <p>{{item.job_title}}</p>
      <ul>
        <li>{{item.job_description}}</li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>