@import "fonts";
@import "rouge-github";


body {
  background-color: #fff;
  height: 100vh;
  font: 14px/1.5 "Fira Code", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}
