<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Portugal</h4>
              <p class="lead mb-0">
                  Maia, Porto
                  <br />
                  4425057
              </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a> -->
              <!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a> -->
              <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/odravison" ><fa-icon [icon]="faGithub"></fa-icon></a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/odravison/" ><fa-icon [icon]="faLinkedin"></fa-icon></a>
              <!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a> -->
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">Hosted on GitHub Pages</h4>
              <p class="lead mb-0">
                This website is maintained by
                <a class="text-link" href="https://github.com/odravison/odravison.github.io">
                  Odravison Amaral
                </a>
              </p>
              <p>
                <small>theme created by
                  <a class="text-link" href="http://startbootstrap.com">Start Bootstrap</a></small>
              </p>
          </div>
      </div>
  </div>
</footer>
