<div class="masthead bg-primary text-white text-center align-items-center flex-column" style="position: sticky;">
  <!-- Masthead Avatar Image-->
  <img class="masthead-avatar mb-5" src="https://avatars.githubusercontent.com/u/7316524" alt="profile pic" />
  <!-- Masthead Heading-->
  <h1 class="masthead-heading text-uppercase mb-0">Odravison</h1>
  <!-- Icon Divider-->
  <div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><fa-icon [icon]="faStar"></fa-icon></div>
    <div class="divider-custom-line"></div>
  </div>
  <!-- Masthead Subheading-->
  <p class="masthead-subheading font-weight-light mb-0">Passion for craft - Backend Software Engineer - Web Developer</p>
</div>
