<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" 
      href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <header>
      
    </header>

    <div class="row">

      <div class="side-content">
        {% if true %}
          {% include my-resume.html %}            
        {% else %}

        {% endif %}
      </div>
      <div class="scrollable-content">
        <section>    
        </section>
      </div>
    </div>
    {% include footer-custom.html %}
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
